.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  background: black;
  color: red;
  align-items: center;
  border-bottom: 2px solid red;
}

.logo {
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 2px;
}

.nav-links {
  display: flex;
  gap: 20px;
  list-style: none;
}

.nav-links li {
  cursor: pointer;
  transition: 0.3s;
}

.nav-links li:hover {
  color: white;
}